.jobList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
}

.jobPost {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
  margin: 20px;
  padding: 10px;
}

.jobPost:hover {
  cursor: pointer;
  background-color: rgb(255, 251, 247);
}

.jobPostCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logoImg {
  height: 80px;
  width: 80px;
  text-align: center;
}

.postDetail {
  height: 100%;
  width: 70vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 65%;
}

.searchBar {
  margin-top: 20px;
}
